<ion-view title="הרשמה">
    <ion-content padding="true">
        <form name="register.form" ng-submit="submit()" novalidate>
            <div id="register-upload-image" class="text-center">
                <label>
                    <img ng-src="{{ profileImage.data }}" on-tap="chooseImage()">
                </label>
            </div>
            <ion-list>
                <ion-item class="item-input item-stacked-label"
                    ng-class="{ 'form-input-invalid': register.form.first_name.$invalid && register.form.first_name.$dirty }">
                    <label>
                        <span class="input-label">
                            שם פרטי
                        </span>
                        <input type="text" ng-model="register.data.first_name" name="first_name" placeholder="ישראל" required>
                    </label>
                </ion-item>
                <ion-item class="item-input item-stacked-label"
                    ng-class="{ 'form-input-invalid': register.form.last_name.$invalid && register.form.last_name.$dirty }">
                    <label>
                        <span class="input-label">
                            שם משפחה
                        </span>
                        <input type="text" ng-model="register.data.last_name" name="last_name" placeholder="ישראלי" required>
                    </label>
                </ion-item>
                <ion-item class="item-input item-stacked-label"
                    ng-class="{ 'form-input-invalid': register.form.description.$invalid && register.form.description.$dirty }">
                    <label>
                        <span class="input-label">תיאור</span>
                        <textarea ng-model="register.data.description" name="description"
 placeholder="פה זה המקום לרשום כמה שורות על עצמך.
מעסיקים רוצים לדעת איזה מן בנאדם אתה, איפה יצא לך לעבוד כבר, איך אתה מתנייד, ומה היתרונות שלך." style="height:60px" required></textarea>
                    </label>
                </ion-item>
                <ion-item class="item-input item-stacked-label"
                    ng-class="{ 'form-input-invalid': register.form.phone_number.$invalid && register.form.phone_number.$dirty }">
                    <label>
                        <span class="input-label">מספר פלאפון</span>
                        <input type="text" ng-model="register.data.phone_number" name="phone_number" placeholder="050-1234567" required>
                    </label>
                </ion-item>
                <ion-item class="item-input item-stacked-label"
                    ng-class="{ 'form-input-invalid': register.form.address.$invalid && register.form.address.$dirty }">
                    <label>
                        <span class="input-label">עיר מגורים</span>
                        <input type="text" ng-model="register.data.address" name="address" placeholder="תל אביב" required>
                    </label>
                </ion-item>
                <ion-item class="item-input item-select item-select-rtl"
                    ng-class="{ 'form-input-invalid': register.form.gender.$invalid && register.form.gender.$dirty }">
                    <label>
                        <span class="input-label">
                            מין
                        </span>
                        <select ng-model="register.data.gender" name="gender" ng-options="gender.value as gender.label for gender in enums.genders" required></select>
                    </label>
                </ion-item>
                <ion-item class="item-input item-stacked-label"
                    ng-class="{ 'form-input-invalid': register.form.birth_date.$invalid && register.form.birth_date.$dirty }">
                    <label>
                        <span class="input-label">תאריך לידה</span>
                        <input type="date" ng-model="register.data.birth_date" name="birth_date" min="{{ minDate }}" max="{{ maxDate }}" placeholder="תאריך לידה" required>
                    </label>
                </ion-item>
            </ion-list>
            <small class="assertive">* כל השדות חובה. אין הרבה גם ככה :)</small>
            <button class="button button-positive button-block icon-right ion-social-facebook" ng-disabled="register.form.$invalid">
                התחבר באמצעות פייסבוק
            </button>
        </form>
    </ion-content>
</ion-view>
