<ion-view ng-attr-title="{{ job.position || 'משרה' }}">
    <ion-nav-title><span ng-if="loaded" ng-bind="job.position"></span></ion-nav-title>
    <ion-content padding="false">
        <div ng-if="loaded && !error">
          <job-block employer="employer" job="job" employee="employee" link="false"></job-block>
          <div id="job" class="padding">
              <p id="job-description" ng-bind="job.description"></p>
              <div id="employment-status" class="balanced">
                  <p ng-if="employee.status == 'APPLICANT'">
                      הינך מועמד למשרה
                  </p>
                  <p ng-if="employee.status == 'AWAITING_FINAL_APPROVAL'">
                      המעסיק אישר את מועמדותך, כעת הינך יכול לאשר התחלת עבודה
                  </p>
                  <p ng-if="employee.status == 'EMPLOYEE'">
                      הינך מועסק במשרה זו
                  </p>
                  <p ng-if="employee.status == 'FINISHED_JOB'">
                      סיימת את עבודתך במשרה זו
                  </p>
                  <p ng-if="employee.status == 'FIRED'">
                      פוטרת ממשרה זו
                  </p>
                  <p ng-if="employee.status == 'CANCELED'">
                      ביטלת את המועמדות למשרה
                  </p>
              </div>
              <div id="job-buttons">
                  <button class="button button-balanced" ng-click="applyJob()"
                        ng-if="!employee.status || (employee.status != 'APPLICANT' && employee.status != 'AWAITING_FINAL_APPROVAL' && employee.status != 'EMPLOYEE')">
                      <i class="icon ion-paper-airplane"></i>
                      הגש בקשה
                  </button>
                  <button class="button button-balanced" ng-click="finalApplyJob()"
                        ng-if="employee.status == 'AWAITING_FINAL_APPROVAL'">
                      <i class="icon ion-ios-checkmark"></i>
                      התחלת עבודה
                  </button>
                  <button class="button button-balanced" ng-click="resignFromJob()"
                        ng-if="employee.status == 'EMPLOYEE'">
                      <i class="icon ion-ios-close"></i>
                      התפטר
                  </button>
                  <button class="button button-balanced" ng-click="cancelApplicationJob()"
                        ng-if="employee.status == 'APPLICANT'">
                      <i class="icon ion-ios-close"></i>
                      בטל מועמדות
                  </button>
                  <button class="button button-assertive" ng-click="cancelApplicationJob()"
                        ng-if="employee.status == 'AWAITING_FINAL_APPROVAL'">
                      <i class="icon ion-ios-close"></i>
                      ביטול
                  </button>
                  <button id="job-share" class="button button-icon button-clear" on-tap="shareJob()">
                      <i class="icon ion-android-share-alt balanced"></i>
                  </button>
                  <button id="job-like" class="button button-icon button-clear" ng-click="likeButtonClick()"
                        ng-if="!employee.status || employee.status == 'LIKED' || employee.status == 'UNLIKED'">
                      <i class="icon balanced" ng-class="{
                          'ion-android-favorite': employee.status == 'LIKED',
                          'ion-android-favorite-outline': !employee.status || employee.status == 'UNLIKED' }"></i>
                  </button>
              </div>
              <hr>
              <p id="employer-description" ng-bind="employer.description"></p>
              <hr>
              <div id="job-more-details">
                  <div id="job-more-details-header">מידע נוסף על המשרה</div>
                  <hr>
                  <div>
                      <div class="icon">
                          <i class="icon ion-ios-location-outline"></i>
                      </div>
                      <div>
                          <strong>מיקום:</strong>
                          <span ng-bind="employer.address"></span>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div>
                      <div class="icon">
                          <i class="icon ion-ios-clock-outline"></i>
                      </div>
                      <div>
                          <strong>
                            עבודה ב<span ng-bind="job.type"></span>
                          </strong>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              </div>
              <div id="job-requirements" ng-if="job.requirements_general || (job.requirements_age_min || job.requirements_age_max)">
                  <hr>
                  <div id="job-requirements-header">דרישות המשרה</div>
                  <div>
                    <hr>
                    <div ng-if="job.requirements_general">
                        <div class="icon">
                            <i class="icon ion-ios-list-outline"></i>
                        </div>
                        <div>
                            <strong>ניסיון:</strong>
                            <span ng-bind="job.requirements_general"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div ng-if="job.requirements_age_min || job.requirements_age_max">
                        <div class="icon">
                            <i class="icon ion-ios-calendar-outline"></i>
                        </div>
                        <div>
                            <strong>גיל:</strong>
                            <span ng-bind-template="{{ job.requirements_age_min }} - {{ job.requirements_age_max }}" ng-if="job.requirements_age_min && job.requirements_age_max"></span>
                            <span ng-bind-template="מ-{{ job.requirements_age_min }}" ng-if="job.requirements_age_min && !job.requirements_age_max"></span>
                            <span ng-bind-template="עד {{ job.requirements_age_max }}" ng-if="job.requirements_age_max && !job.requirements_age_min"></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                  </div>
              </div>
              <div id="job-location" ng-if="map.center.latitude && map.center.longitude">
                <hr>
                <div id="job-location-header">מיקום הסניף</div>
                <hr>
                <div>
                    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                        <ui-gmap-marker coords="marker.cords" options="marker.options" idKey="marker.id"></ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
              </div>
              <div class="text-center">
                  <button class="button button-balanced icon ion-android-navigate" on-tap="openNavigator()">
                      נווט למקום
                  </button>
              </div>
          </div>
        </div>
        <div ng-show="error" class="padding">
            קיימת תקלה טכנית, אנא נסה שנית
        </div>
    </ion-cotent>
</ion-view>
