<ion-view title="חיפוש משרות">
    <ion-content lazy-scroll>
        <div id="search-list" class="list">
            <label class="item item-input">
                <span class="input-label">שם בית העסק</span>
                <input type="text" ng-model="searchData.employer_title">
            </label>
            <label class="item item-input">
                <span class="input-label">תפקיד</span>
                <input type="text" ng-model="searchData.position">
            </label>
            <label class="item item-input">
                <span class="input-label">כתובת</span>
                <input type="text" ng-model="searchData.address">
            </label>
            <label class="item item-input">
                <span class="input-label">טקסט חופשי</span>
                <input type="text" ng-model="searchData.open_query">
            </label>
        </div>
        <div id="feed">
            <div class="padding text-center" ng-if="!loaded && isSearching && !error">
              <ion-spinner></ion-spinner>
            </div>
            <ion-list class="jobs-list" ng-if="loaded && !error">
                <ion-item ng-repeat="job in jobs" ng-init="job.index = $index">
                    <job-block job="job" link="true" on-tap="goToJob(job.id, $event)"></job-block>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll ng-if="!noMoreJobsAvailable && loaded && !error" on-infinite="getFeed(true)" distance="10%"></ion-infinite-scroll>
            <div ng-show="loaded && !jobs.length && !error" class="padding">
                לא נמצאו משרות
            </div>
            <div ng-show="error" class="padding">
                קיימת תקלה טכנית, אנא נסה שנית
            </div>
        </div>
    </ion-cotent>
</ion-view>
