<ion-view>
    <ion-content scroll="true" padding="false" class="has-footer">
        <div class="list-container" ng-class="viewClassName">


            <div class="fruit-wrapper">
                <div class="fruit-item">
                    <div class="image">
                        <img src="http://localhost:8100/img/logo.png" alt="">
                    </div>
                    <h4>תפוז</h4>
                    <div class="price">
                        <table>
                            <tr><td>מחיר סוג א'</td><td>3.00 ש"ח</td></tr>
                            <tr><td>מחיר מובחר</td><td>3.00 ש"ח</td></tr>
                        </table>
                    </div>
                    <div class="buttons">
                        כפתורים
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>