<ion-view>
    <ion-content scroll="true" padding="false" class="has-footer">
        <div class="list-container">
            <div class="fruit-item">
                <div class="image">
                    <img src="" alt="">
                </div>
                <h4>תפוז</h4>
                <div class="price">
                    <span>מחיר סוג א'</span>3.00 ש"ח<br />
                    <span>מחיר מובחר</span>3.00 ש"ח<br />
                </div>
                <div class="buttons">
                    כפתורים
                </div>
            </div>
            <div class="fruit-item">
                <div class="image">
                    <img src="" alt="">
                </div>
                <h4>תפוז</h4>
                <div class="price">
                    <span>מחיר סוג א'</span>3.00 ש"ח<br />
                    <span>מחיר מובחר</span>3.00 ש"ח<br />
                </div>
                <div class="buttons">
                    כפתורים
                </div>
            </div>
            <div class="fruit-item">
                <div class="image">
                    <img src="" alt="">
                </div>
                <h4>תפוז</h4>
                <div class="price">
                    <span>מחיר סוג א'</span>3.00 ש"ח<br />
                    <span>מחיר מובחר</span>3.00 ש"ח<br />
                </div>
                <div class="buttons">
                    כפתורים
                </div>
            </div>
            <div class="fruit-item">
                <div class="image">
                    <img src="" alt="">
                </div>
                <h4>תפוז</h4>
                <div class="price">
                    <span>מחיר סוג א'</span>3.00 ש"ח<br />
                    <span>מחיר מובחר</span>3.00 ש"ח<br />
                </div>
                <div class="buttons">
                    כפתורים
                </div>
            </div>
            <div class="fruit-item">
                <div class="image">
                    <img src="" alt="">
                </div>
                <h4>תפוז</h4>
                <div class="price">
                    <span>מחיר סוג א'</span>3.00 ש"ח<br />
                    <span>מחיר מובחר</span>3.00 ש"ח<br />
                </div>
                <div class="buttons">
                    כפתורים
                </div>
            </div>
            <div class="fruit-item">
                <div class="image">
                    <img src="" alt="">
                </div>
                <h4>תפוז</h4>
                <div class="price">
                    <span>מחיר סוג א'</span>3.00 ש"ח<br />
                    <span>מחיר מובחר</span>3.00 ש"ח<br />
                </div>
                <div class="buttons">
                    כפתורים
                </div>
            </div>
            <div class="fruit-item">
                <div class="image">
                    <img src="" alt="">
                </div>
                <h4>תפוז</h4>
                <div class="price">
                    <span>מחיר סוג א'</span>3.00 ש"ח<br />
                    <span>מחיר מובחר</span>3.00 ש"ח<br />
                </div>
                <div class="buttons">
                    כפתורים
                </div>
            </div>
            <div class="fruit-item">
                <div class="image">
                    <img src="" alt="">
                </div>
                <h4>תפוז</h4>
                <div class="price">
                    <span>מחיר סוג א'</span>3.00 ש"ח<br />
                    <span>מחיר מובחר</span>3.00 ש"ח<br />
                </div>
                <div class="buttons">
                    כפתורים
                </div>
            </div>
            <div class="fruit-item">
                <div class="image">
                    <img src="" alt="">
                </div>
                <h4>תפוז</h4>
                <div class="price">
                    <span>מחיר סוג א'</span>3.00 ש"ח<br />
                    <span>מחיר מובחר</span>3.00 ש"ח<br />
                </div>
                <div class="buttons">
                    כפתורים
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
