<ion-view>
    <ion-tabs class="tabs-balanced tabs-icon-top" ng-class="hideTabs">
        <ion-tab title="משרות" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" href="#/employees/jobs-feed">
            <ion-nav-view name="jobs-feed-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="המשרות שלי" icon-on="ion-ios-briefcase" icon-off="ion-ios-briefcase-outline" href="#/employees/jobs-user">
            <ion-nav-view name="jobs-user-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="חיפוש משרות" icon-on="ion-ios-search-strong" icon-off="ion-ios-search" href="#/employees/jobs-search">
            <ion-nav-view name="jobs-search-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
