<ion-view title="פרופיל" hide-tabs>
    <ion-content padding="true" overflow-scroll="true">
        <div id="profile">
            <div id="profile-image">
                <img ng-src="{{ user.profile.profile_image_uri }}" ng-if="user.profile.profile_image_uri">
                <img src="img/jobhop-icon.png" class="image-not-rounded" ng-if="!user.profile.profile_image_uri">
            </div>
            <div id="profile-name" ng-bind-template="{{ user.profile.first_name }} {{ user.profile.last_name }}"></div>
            <div id="profile-details">
                <span ng-if="user.profile.birth_date">
                    <span ng-bind="user.profile.gender == 'MALE' ? 'בן' : 'בת'"></span>
                    <span ng-bind="user.profile.age"></span>
                </span
                ><span ng-if="user.profile.address">,
                    <span ng-bind="user.profile.address"></span>
                </span>
            </div>
            <hr>
            <div>
                <div class="profile-header">קצת על עצמי</div>
                <hr>
                <p id="profile-about-me" ng-bind-html="user.profile.description | nl2br" ng-if="user.profile.description"></p>
                <strong ng-if="!user.profile.description">לא צוין מידע</strong>
            </div>
            <hr>
            <div>
                <div class="profile-header">סרטון פרופיל</div>
                <hr>
                <div data-tap-disable="true" ng-if="profile_video_uri">
                    <video ng-src="{{ profile_video_uri }}" poster="img/no-profile-video.jpg" controls></video>
                </div>
                <div ng-if="!profile_video_uri">
                    <div id="no-profile-video" on-tap="uploadProfileVideo()">
                        <img src="img/no-profile-video.jpg" id="visible">
                        <img src="img/no-profile-video.jpg" id="invisible">
                        <div>
                            <i class="icon ion-videocamera"></i><br>
                        </div>
                    </div>
                </div>
            </div>
            <hr ng-hide="true">
            <div ng-hide="true">
                <div class="profile-header">ניסיון תעסוקתי</div>
                <hr>
                <div id="profile-experience">
                    <div>
                        <div class="profile-experience-timeline">2015</div>
                        <div class="profile-experience-description">ראש ממשלת ישראל</div>
                    </div>
                    <div>
                        <div class="profile-experience-timeline">2010-2014</div>
                        <div class="profile-experience-description">נשיא בית המשפט העליון</div>
                    </div>
                    <div>
                        <div class="profile-experience-timeline">2005-2009</div>
                        <div class="profile-experience-description">מנכ"ל בנק הפועלים</div>
                    </div>
                    <div>
                        <div class="profile-experience-timeline">2003</div>
                        <div class="profile-experience-description">צייר</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
