<div>
    <img src="img/icon/x.png" class="close" on-tap="closeDetailsPopup()" />
    <div class="row">
        <div class="col">
            <span class="title">הוספת נתונים</span>
            <label>
                <input ng-model="listDetailsInput" type="radio" name="list-details" value="price" ng-checked="listDetails == 'price'">
                <span class="style"></span>
                ללא
            </label>
            <label>
                <input ng-model="listDetailsInput" type="radio" name="list-details" value="avgPrice" ng-checked="listDetails == 'avgPrice'">
                <span class="style"></span>
                מחיר ממוצע שבועי
            </label>
            <label>
                <input ng-model="listDetailsInput" type="radio" name="list-details" value="percentChange" ng-checked="listDetails == 'percentChange'">
                <span class="style"></span>
                אחוז שינוי יומי במחיר
            </label>
        </div>
    </div>
    <div class="popup-buttons">
        <button class="button button-positive button-block" on-tap="setListDetails(listDetailsInput)">שמור</button>
    </div>
</div>
