<div>
    <img src="img/icon/x.png" class="close" ng-click="closeFilterPopup()" />
    <div class="row">
        <div class="col">
            <span class="title">סינון</span>
            <label>
                <input ng-model="typeFilter" value="" type="radio" name="search-by-type" checked="checked">
                <span class="style"></span>
                ירקות ופירות
            </label>
            <label>
                <input ng-model="typeFilter" value="VEG" type="radio" name="search-by-type">
                <span class="style"></span>
                ירקות בלבד
            </label>
            <label>
                <input ng-model="typeFilter" value="FRUITS" type="radio" name="search-by-type">
                <span class="style"></span>
                פירות בלבד
            </label>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <span class="title">מיון</span>
            <label>
                <input ng-model="orderFilter" value="DAILY_CHANGE" type="radio" name="order-by" checked="checked">
                <span class="style"></span>
                אחוז שינוי יומי
            </label>
            <label>
                <input ng-model="orderFilter" value="ABC" type="radio" name="order-by">
                <span class="style"></span>
                א'-ב'
            </label>
            <label>
                <input ng-model="orderFilter" value="PRICE" type="radio" name="order-by">
                <span class="style"></span>
                מחיר
            </label>
        </div>
    </div>
    <div class="popup-buttons">
        <button class="button button-positive button-block" ng-click="setFilters(orderFilter, typeFilter)">שמור</button>
    </div>
</div>
