<!DOCTYPE html>
<html ng-app="jobhop" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval'">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="http://fonts.googleapis.com/earlyaccess/opensanshebrew.css" rel="stylesheet">
    <link href="css/app.min.css" rel="stylesheet">
    <script src="js/parse-1.6.7.min.js"></script>
    <script src="js/deepLinkingHandler.js"></script>
    <script src="js/extensions.min.js"></script>
    <script src="js/highcharts.js"></script>
    <script src="js/highcharts-ng.min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.min.js"></script>
    <script src="views/views.js"></script>
</head>
<body style="visibility: hidden" ng-show="appReady" ng-class="{ 'appReady': appReady }">
<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced">
            <ion-nav-buttons side="right">
                <img class="logo" src="img/logo.png" />
                <button class="button button-icon ion-navicon" menu-toggle="right" style="margin-top: 0"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="left">
                <div ng-if="isItemActive('/main/products-wholesale')">
                    <button class="button button-icon">
                        <img src="img/icon/search.png" />
                    </button>
                    <button on-tap="changeView()" class="button button-icon" ng-class="viewClassName">
                        <img src="img/icon/view2.png" ng-if="!viewClassName" />
                        <img src="img/icon/view1.png" ng-if="viewClassName" />
                    </button>
                    <label class="filterDate" style="overflow: hidden;">
                        {{filterDate | date:'dd/MM/yy'}}
                        <input id="date_filter_input" type="date" ng-model="filterDate" ng-change='setDate(filterDate)' style="z-index: 9999999999;" ng-hide="showSearchBar" />
                    </label>
                    <div id="search-bar" ng-class="{'open-search-bar': showSearchBar}">
                        <small ng-show="showSearchBar" class="close-search" on-tap="closeNameFilter()"><i class="ion-close-round"></i></small>
                        <form class="search" id="searchForm"><input ng-focus="openNameFilter()" ng-class="{'open-search-bar': showSearchBar}" type="search" id="search" ng-model='searchInput' ng-change='prepareSearchResults(searchInput)' onsearch="
var appElement = document.querySelector('[ng-app=jobhop]');
var appScope = angular.element(appElement).scope();
var controllerScope = appScope.$$childHead;
controllerScope.setNameFilter(this.value);this.blur();" autocomplete="off" /></form>
                        <ul ng-show="showSearchBar" ng-show="hasSearchResults()">
                            <li ng-repeat="searchResult in searchResults" on-tap="setNameFilter(searchResult)">{{searchResult}}</li>
                        </ul>
                    </div>
                </div>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu id="side-menu" side="right" dir="rtl">
        <ion-content>
            <ion-list>
                <ion-item class="item-icon-right home-icon" menu-close ui-sref="withTabs.productsWholesale" ng-class="{active: isItemActive('/main/products-wholesale')}">ראשי</ion-item>
                <ion-item class="item-icon-right about-icon" menu-close ui-sref="about" ng-class="{active: isItemActive('/about')}">אודות</ion-item>
                <ion-item class="item-icon-right help-icon" menu-close ui-sref="help" ng-class="{active: isItemActive('/help')}">עזרה</ion-item>
                <ion-item class="item-icon-right contact-icon" menu-close ui-sref="contact" ng-class="{active: isItemActive('/contact')}">צור קשר</ion-item>
                <ion-item class="item-icon-right site-icon" menu-close on-tap="openSite()">אתר הבית</ion-item>
                <ion-item class="item-icon-right share-icon" menu-close on-tap="shareApp()">שיתוף האפליקציה</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
<script>


</script>
</body>
</html>
