
$bgColor: #fef7eb;
$topNavHeight: 53px;
$orangeColor: #ff6600;
$lightOrangeColor: #f6a000;

ion-content {
  background: $bgColor;
}

body {
  background: $bgColor;
  font-family: 'Open Sans Hebrew', sans-serif;
}

// Side menu
#side-menu {

  .scroll-content {
    padding: 57px 0 13px;
    background: $lightOrangeColor;

    .item {
      border-color: #f9cab1;
      background: $lightOrangeColor;
      color: #fff;
      border-right: none;
      border-left: none;
      padding-right: 40px;
      background: no-repeat right 10px center;
      background-size: 17px 17px;

      &.active { background-color: #f07c06; }
      &.home-icon {
        background-image: url('../img/icon/home.png');
      }
      &.about-icon {
        background-image: url('../img/icon/about.png');
      }
      &.contact-icon {
        background-image: url('../img/icon/contact.png');
      }
      &.help-icon {
        background-image: url('../img/icon/help.png');
      }
      &.share-icon {
        background-image: url('../img/icon/share.png');
      }
      &.site-icon {
        background-image: url('../img/icon/site.png');
      }

      a {
        padding-right: 0;
        background: none;
      }
    }
  }
}

// Top menu
.bar.bar-balanced  {
  direction: ltr;
  background-color: $bgColor;
  border-bottom: 1px solid #f60;
  height: $topNavHeight !important;

  img.logo {
    width: 98px; height: 35px;
    margin-right: 10px;
  }

  .button-date{
    font-size: 9px;
    padding: 0;
    background: url('../img/icon/date.png') top no-repeat;
    background-size: 32px 23px;
    width: 34px;
    height: 20px;
    margin-left: 10px;
    font-weight: 600;
  }
  button.button.button-icon {
    color: #ff6600;
    margin-top: 9px;

    img {
      height: 20px;
    }
  }
}

// Bottom menu
.tabs-balanced.tabs-bottom {
  .tab-nav {
    padding:0;
    background: white;
    direction: rtl;
    a {
      border: 1px solid #458700;
      border-top: 2px solid #458700;
      border-bottom: none;
      color: #458800;
      opacity: 1;
      font-size: 16px;

      i {
        background: 50% no-repeat;
        background-size:contain;
        height: 20px;
        margin-top: 3px;

        &.graph {
          background-image: url('../img/graph.png');
        }
        &.farmer {
          background-image: url('../img/farmer.png');
        }
        &.buyer {
          background-image: url('../img/buyer.png');
        }
      }

      .tab-title {
        font-size: 15px;
        font-weight: 500;
      }
      &.tab-item-active {
        background: #b5cf99;
      }
    }
  }
}

.view-container {
  background: $bgColor;
}


h2 {
  text-align: center;
  color: #95c11f;
  white-space: nowrap;
  font-size: 18px;
}

div.bordered {
  direction: rtl;
  margin: 36px 18px 10px;
  border: 1px solid #ff9900;
  position: relative;
  padding: 15px 10px;

  h2 {
    margin-top:0;
    position: absolute;
    top: -15px;
    left: 50%;
    background: $bgColor;
    transform: translate(-50%, 0);
  }
}

div.contact {
  width: 260px;
  display: inline-block;
  margin-top: 45px;
  font-size:14px;
  color: #ea590c;
  padding: 45px 10px;

  img {
    position: absolute;
    width: 133px;
    padding: 0 5px;
    top: -35px;
    transform: translate(-50%, 0);
    left: 50%;
    background: $bgColor;
  }
}


.list-container {
  padding: 0 13px 13px 13px;
  overflow: auto;

  div.fruit-wrapper {
    width: 100%;
    float: right;

    div.fruit-item {
      float: right;
      margin: 0 0 16px 0;
      width: 100%;
      position: relative;
      background: #fff;
      border: 3px solid #95c11f;
      color: #95c11f;

      div.unchecked {
        position:absolute;
        top:0;
        right:0;
        width:32px;
        height:32px;
        background: url('../img/no-v-green.png') no-repeat;
        background-size: contain;
      }

      div.checked {
        position:absolute;
        top:0;
        right:0;
        width:32px;
        height:32px;
        background: url('../img/v-green.png') no-repeat;
        background-size: contain;
      }

      div.image {
        float: right;
        width: 38%; height: 108px;
        background: white;
        text-align: center;
        padding: 15px;
        padding-bottom: 0;
        border-left: 1px solid #95c11f;

        img {
          max-height: 100%;
          max-width: 100%;
        }
      }

      div.price {
        direction: rtl;
        padding: 0;
        float: left;
        width: 62%;
        height: auto;
        min-height: 46px;
        background: #fff;
        font-size: 12px;
        text-align: center;

        table{
          margin: 0 auto;

          td { white-space: nowrap; text-align: right; }



          tr {
            td:first-child {
              padding-left: 2px;
            }

            td:not(:first-child) {
              padding-right: 2px;
            }
          }
          @media screen and (min-width: 355px) {
            tr {
              td:first-child {
                padding-left: 7px;
              }

              td:not(:first-child) {
                padding-right: 7px;
              }
            }
          }
        }
      }
      div.buttons {
        position: relative;
        background: #95c11f;
        float: left;
        width: 62%;
        height: 24px;
        line-height: 20px;
        text-align: center;
        color: #fff;


        .push-percent {
          font-weight: 600;
          color:#95c11f;
          position:absolute;
          right: 37px;
          top: 3px;
          font-size: 8px;
          small{ font-size:8px; }
        }
        img {
          margin: 3px 30px 0 30px;
          height:20px;
        }
      }

      h4 {
        text-align: center;
        float: left;
        width: 62%;
        background: #fff;
        margin-top: 0;
        min-height: 26px;
        line-height: 23px;
        font-size: 16px;
        border-bottom: 2px solid #95c11f;
        color: #95c11f;
      }
    }

  }

  &:not(.two-per-row) {
    .price { padding-top: 10px !important; padding-bottom: 8px !important; }
    h4 { margin-bottom: 0; }
    .price,h4,.buttons { border-right: 1px #95c11f solid }
    .image { border-left: none !important; }

    .fruit-wrapper {
      &:nth-child(2n) {

        div.fruit-item {
          border-color: #ff9900;
          color: #ff9900;

          div.checked {
            background-image: url('../img/v-orange.png');
          }
          div.unchecked {
            background-image: url('../img/no-v-orange.png');
          }
          div.buttons{
            background:#ff9900;

            .push-percent{ color: #ff9900; }
          }
          div.image,h4,div.price,div.buttons { border-color: #ff9900 !important; }
          h4{ color: #ff9900; }
        }
      }

    }
  }

  &.two-per-row {

    h4 {
      height: 54px;
      display: flex !important;
      justify-content: flex-end !important;
      flex-direction: column !important;
      margin-top: -20px !important;
      background: none !important;
    }
    div.fruit-wrapper {
      width: 50%;
      padding-right: 0px;
      padding-left: 7px;

      &:nth-child(2n) {
        padding-right: 7px;
        padding-left: 0px;
      }


      &:not(:nth-child(4n-2)):not(:nth-child(4n-1)) {
        div.fruit-item {
          border-color: #ff9900;
          color: #ff9900;

          div.checked {
            background-image: url('../img/v-orange.png');
          }
          div.unchecked {
            background-image: url('../img/no-v-orange.png');
          }
          div.buttons{
            background:#ff9900;

            .push-percent{ color: #ff9900; }
          }
          div.image,h4,div.price,div.buttons { border-color: #ff9900 !important; }
          h4{ color: #ff9900; }
        }
      }

      div.fruit-item {

        div.image {
          height: 108px;
          width: 100%;
          border-left: none;
        }

        h4 {
          margin-bottom: 0;
          width: 100%;
        }

        div.price {
          min-height: 40px;
          height: auto;
          width: 100%;
        }

        div.buttons {
          width: 100%;


          .push-percent{ right: 17px; }
          img{ margin-right:10px; margin-left:10px; }
        }
      }
    }
  }
}

.has-footer {
  bottom: 50px;
}
.has-header {
  top: 54px;
}

// Popups
.popup-container {

  .popup-head{ display:none; }
  .popup-buttons {
    padding-bottom: 0;

    button{
      min-height:0;
      height:27px;
      line-height:27px;
      font-size:18px;
      background:$orangeColor !important;
      border:none;
      padding-bottom:0;
    }
  }
  .popup{
    direction:rtl; width:340px;
    border: $orangeColor 6px solid;
    background: $bgColor;
    color: $orangeColor;


    img.close{ position:absolute; top:0; right:0; width:31px; height:31px; }
    span.title{ font-weight:600; font-size:14px; margin-bottom:7px; display:inline-block; }
    hr{ border-top-width:0; border-bottom-width:1px; border-color:$orangeColor; }

    input[type=radio]{
      display:none;

      &:checked{
        +span.style{ background-image:url('../img/radio-checked.png'); }
      }

      +span.style{
        margin-bottom: -2px;
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url('../img/radio-unchecked.png');
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    input[type=checkbox]{
      display:none;

      &:checked{
        +span.style{ background-image:url('../img/checkbox-checked.png'); }
      }

      +span.style{
        display: inline-block;
        width: 17px;
        height: 14px;
        background-image: url('../img/checkbox-unchecked.png');
        background-size: contain;
        margin-top: 1px;
      }
    }
  }


  &.list-filter,&.details,&.date-filter {
    .popup{
      input[type=date]{ border: $orangeColor 1px solid; width:50%; }
      label{ height:15px; display:block; width:100%; font-size:15px; margin-bottom: 5px; }
      label:not(:last-child){ margin-bottom: 10px; }
      span.title{ font-weight:600; font-size:14px; margin-bottom:7px; display:inline-block; }
    }
  }

  &.push-notification {
    .popup{
      text-align: center;

      select{
        background: #ffe0cc;
        color: #ff6600;
        font-weight: 600;
        margin-right: 4px;

        //Remove arrow
        -webkit-appearance: none;
        appearance: none;
        &::-ms-expand{ display:none; }
      }
      label{ display:inline; }
      span.title{ font-weight:600; font-size:14px; margin-bottom:7px; display:inline-block; }
    }
  }
}


// List top actions
.tabs-top {
  top: 43px;
  padding: 5px 0 0 0;
  color: #95c11f;

  @media screen and (max-width: 355px) {
    a {
      font-size: 13px;
    }
  }
  a {
    color: #95c11f;
    direction: rtl;
    border:2px solid #95c11f;
    background:#fff;
    text-align:center;
    font-weight:600;
    padding:3px 0 0 0;

    &:not(:last-child) { border-right:0; }
    &.active{ background: #dbe8b3; }

    img {
      margin-bottom: -3px;
      height: 19px;
    }

  }
}

.filterDate {
  color: black;
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin-top: 12px;
  white-space: nowrap;
  line-height: 20px;
  float: right;
  width: 92px;
  height:19px;
  color: $orangeColor;
  margin-left: 5px;

  @media screen and (max-width: 339px) {
    width: 52px;

  }
  input {
    width: 92px;
    height:20px;
    position: absolute;
    top:0;bottom: 0;right:0;left:0;
    display: inline-block; height:30px;
    opacity: 0;
  }
}
#charts-page {
  .filters {
    direction: rtl;
    padding: 0;
    height: 40px;
    background: #d9e6b0;
    text-align: center;

    .col {
      padding-right:0;
      padding-left:0;

      select {
        border-color: #95c11f;
        border-radius: 0;
        padding-right: 18px;
        background: #fff url('../img/select-arrow.png') right center no-repeat;
        background-size: 21px 29px;
        color: #95c11f;
        font-size: 11px;
        font-weight: 600;
        height: 29px;
        width:100%;
        white-space: nowrap;

        //Remove arrow
        -webkit-appearance: none;
        appearance: none;
        &::-ms-expand{ display:none; }
      }
    }
  }
  @media screen and (max-width: 355px) {
    .filters {
      height: 33px;
      select {
        background-size: 18px 24px;
        font-size: 10px;
        height: 24px;
      }
    }
  }

  div.chart {
    margin-top: 20px;
  }
}


@keyframes example {
  from {width: 2%;}
  to {width: 92%;}
}

div#search-bar {
  position: absolute;
  background: $bgColor;
  z-index: 10;
  top: 0;
  height: 43px;
  width: 100%;
  text-align: left;
  padding-top: 10px;
  padding-left: 7px;
  padding-right: 7px;

  &.open-search-bar {
    input {
      animation-name: example;
      animation-duration: 0.5s;
    }
  }
  &:not(.open-search-bar) {
    width: 40px;
    opacity: 0;
    background: red;
    padding-left:0;
    padding-right:0;
    input {
      width: 100% !important;
      height: 100%;

      &:focus {
        visibility: hidden;
      }
    }
  }
  input[type=search] {
    float: left;
    width: 92%;
    background: #fff;
    height: 33px;
    border-radius: 63px;
    padding: 4px 5px;
    direction: rtl;
    border: 2px solid $orangeColor;
  }

  .close-search {
    float: right;
    width: 7%;
    display: block;
    margin-left: 1%;

    i {
      color: #000;
      font-size: 20px;
      margin: 5px;
      display: block;
    }
  }

  ul{
    width: 92%;
    float: left;
    background: $bgColor;
    padding: 0 20px;

    li{
      color: #458800;
      height: 40px;
      line-height: 40px;
      text-align: right;

      &:not(:first-child) {
        border-top: 1px solid black;
      }
    }
  }

  * { box-sizing: border-box; }
}

.ispinner .spinner {
  stroke: $orangeColor;
  fill: $orangeColor;
}

ion-content.products {
  .scroll { padding-right: 13px; padding-left: 13px; }
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.platform-ios {
  .bar-balanced {
    height: 64px !important;
    padding-top: 17px;

    img.logo { margin-top:-3px !important; }
    span.left-buttons { margin-top: -3px !important; }
    button.button-icon { margin-top: 0 !important; }
    .filterDate { margin-top: 2px; }
    #search-bar { margin-top: 17px; }
  }

  .tabs-top .tabs {top:55px!important;}

  #charts-page {
    select {
      padding-right: 23px !important;
    }
  }
}

.appReady {
  visibility: visible !important;
}

body {
  background: #FDF7EB;

  &.appReady {
      visibility: visible !important;
  }
}

g.highcharts-axis text.highcharts-yaxis-title { direction: rtl }
