body {
  font-family: 'Open Sans Hebrew', sans-serif;

  // Side menu
  ion-side-menu#side-menu {

    .scroll-content {
      padding: 57px 13px 13px;
      background: #f6a000;

      ion-item {
        border-color: #f9cab1;
        background: #f6a000;
        color: #fff;
        border-right: none;
        border-left: none;
        padding-right: 40px;
        background: no-repeat right 10px center;
        background-size: 17px 17px;

        &.home-icon {
          background-image: url('/img/icon/home.png');
        }
        &.about-icon {
          background-image: url('/img/icon/about.png');
        }
        &.contact-icon {
          background-image: url('/img/icon/contact.png');
        }
        &.help-icon {
          background-image: url('/img/icon/help.png');
        }
        &.share-icon {
          background-image: url('/img/icon/share.png');
        }
        &.site-icon {
          background-image: url('/img/icon/site.png');
        }
      }
    }
  }

  // Top menu
  ion-header-bar.bar.bar-balanced  {
    background-color: white;
    border-color: #ff6600;
    border-bottom-width: 2px;
    color: blue !important;
    height: 53px !important;

    img.logo {
      width: 98px; height: 35px;
      margin-right: 10px;
    }

    button.button.button-icon {
      color: #ff6600;
      margin-top: 3px;

      img {
        height: 20px;
      }
    }
  }

  // Bottom menu
  ion-tabs.tabs-balanced.tabs-bottom {
    .tab-nav {
      background: white;
      height: 41px;

      a {
        border: 1px solid #458700;
        border-top: none;
        border-bottom: none;
        color: #458800;
        opacity: 1;
        font-size: 16px;

        i {
          background: 50% no-repeat;
          background-size:contain;
          height: 20px;
          margin-top: 3px;

          &.graph {
            background-image: url('/img/graph.png');
          }
          &.farmer {
            background-image: url('/img/farmer.png');
          }
          &.buyer {
            background-image: url('/img/buyer.png');
          }
        }

        .tab-title {
          font-size: 15px;
          font-weight: 500;
        }
        &.tab-item-active {
          background: #b5cf99;
        }
      }
    }
  }

}
