<ion-view>
    <ion-content>
        <div class="bordered" style="text-align: justify">
            <h2 style="padding: 0 16px;">אודות החברה</h2>
            <p>
                בעקבות החלטת הממשלה ביום 17.10.2010 החליטה ממשלת ישראל על הקמת חברה

                ממשלתית להקמה וניהול שוק סיטוני לתוצרת חקלאית במטרופולין גוש דן. ביום 3.2.2011

                התאגדה חברת שוק סיטוני
<span style="display: inline-block">                לישראל – תוצרת</span>
                הארץ.

                 </p><p>

            חברת השוק הסיטוני לישראל הינה זרוע מקצועית-ביצועית של משרד החקלאות ופיתוח

            הכפר. השוק יוקם במתכונת של פרויקט BOT.


             </p><p>הקמת שוק סיטוני חדש הינו בעל חשיבות עליונה ברמה הלאומית וזאת לצורך קיום תחרות

            חופשית ומשוכללת בתנאי שקיפות, לשם השגת תמורה הוגנת למגדלים והורדת מחיר

            לצרכנים תוך צמצום פערי התיווך כמו גם פיקוח על המסחר בפירות וירקות והגברת יעילותו.

             
             </p><p>

            השוק ימוקם ברביע הדרום מזרחי של צומת מסובים, בפאתי פארק אריאל שרון, תל חירייה

            ושטחי החקלאות של בית הספר החקלאי מקווה ישראל וייבנה על-פי הסטנדרטים החדישים

            ביותר בתחום זה בעולם. מתחם רחב ממדים זה ישתרע על שטח המגיע למאות דונם.

            המיקום יאפשר הקמת שוק סיטוני שישלב היבטי אקולוגיה, סביבה, קרבה לשדה התעופה

            ולריכוז האוכלוסייה הגדול בארץ, שיבוא לידי ביטוי במתאר נופי מתקדם הכולל מסחר ובילוי

            לטובת כלל אזרחי מדינת ישראל.

             </p><p>

            החברה יוצאת בשיתוף עם משרד החקלאות, בפרויקט לביצוע איסוף, עיבוד ופרסום של

            מחירי הפירות והירקות הטריים בשוק הסיטוני בצריפין ובמקטע החקלאי או בשמו החדש

            "פריסייל". מטרת פריסייל הינה הפקת סקר מחירים יומי, חדשני, אמין ושקוף אשר יציג

            תמונת מצב מהימנה לכלל העוסקים בשרשרת הערך (חקלאים, סיטונים וקמעונאים)

            ויאפשר לצרכן לקבל מידע אשר יוביל אותו לצרכנות נבונה יותר וכך יתרום במלחמה להורדת

            יוקר המחיה.

             </p><p>

            חברת "דיאלוג יעוץ ארגוני, מחקר והדרכה בע"מ" נבחרה להוביל את הפרויקט. חברת

            דיאלוג הינה חברת סקרים מובילה ובלתי תלויה. ראש תחום המחקר בחברת דיאלוג הינו

            הפרופסור קמיל פוקס בעל 45 שנות ניסיון בתחום.<br />

            חברת דיאלוג בנתה במשך כחצי שנה מתודולוגיית איסוף, עיבוד וניתוח נתונים אשר יבוצעו

            באמצעות תיקוף נתונים ובעמידה בקריטריונים סטטיסטיים מקובלים.<br />

            על חברת דיאלוג תתבצע בקרת איכות בלתי תלויה על ידי חברת "מרטנס הופמן יועצים

            לניהול בע"מ" לכל אורך פעילותה השוטפת לבדיקת מהימנות הדיווחים.<br />

            פריסייל מונגש לכם, הקהל הרחב, באמצעות אפליקציה זו וכן באמצעות אתר החברה.
        </p>
        </div>
    </ion-content>
</ion-view>
