<ion-view>
    <ion-content>
        <div id="charts-page">
            <div class="filters row">
                <div class="col">
                    <select ng-model="chartType" ng-change="generateChartConfig(chartType, userType, price_avg2, priceToShow, price_avg1)">
                        <option value="line">השוואה לאורך זמן</option>
                        <option value="column">השוואה בין מוצרים</option>
                        <option value="bar">השוואה בין מקטעים</option>
                    </select>
                </div>
                <div class="col" ng-if="chartType == 'line' || chartType == 'column'">
                    <select ng-model="userType" ng-change="generateChartConfig(chartType, userType, price_avg2, priceToShow, price_avg1)">
                        <option value="agriculturalPrice">מחיר סיטונאי</option>
                        <option value="wholesalePrice">מחיר חקלאי</option>
                    </select>
                </div>
                <div class="col" ng-if="chartType == 'line'">
                    <select ng-model="price_avg2" ng-change="generateChartConfig(chartType, userType, price_avg2, priceToShow, price_avg1)">
                        <option value="WEEK">שבוע</option>
                        <option value="MONTH">חודש</option>
                        <option value="QUARTER">רבעון</option>
                        <option value="YEAR">שנה</option>
                    </select>
                </div>
                <div class="col" ng-if="chartType == 'bar'">
                    <select ng-model="price_avg1" ng-change="generateChartConfig(chartType, userType, price_avg2, priceToShow, price_avg1)">
                        <option value="DAY">ממוצע יומי</option>
                        <option value="WEEK">ממוצע שבועי</option>
                        <option value="MONTH">ממוצע חודשי</option>
                        <option value="QUARTER">ממוצע רבעוני</option>
                        <option value="YEAR">ממוצע שנתי</option>
                    </select>
                </div>
                <div class="col" ng-if="chartType == 'column'">
                    <select ng-model="priceToShow" ng-change="generateChartConfig(chartType, userType, price_avg2, priceToShow, price_avg1)">
                        <option value="DAY">ממוצע יומי</option>
                        <option value="WEEK">ממוצע שבועי</option>
                    </select>
                </div>
            </div>
            <div class="chart">
                <highchart id="chart1" config="chartConfig"></highchart>
            </div>
        </div>
    </ion-content>
</ion-view>
