<ion-view style="text-align: center">
    <ion-content>
        <h2 style="margin-top: 10px;">צור קשר</h2>
        <div class="bordered contact">
            <img src="img/tozeret.png" />
            <p style="font-size: 16px">
                שוק סיטוני לישראל בע"מ<br />
                אפעל 35, פתח תקווה
            </p>
            <p>מייל: <span style="font-size:13px; white-space: nowrap">marketoffice@israeli-market.gov.il</span>
            <br />
            אתר: <span style="font-size:13px; white-space: nowrap">www.israeli-market.gov.il</span></p>
        </div>
    </ion-content>
</ion-view>
