<ion-view>
    <ion-content>
        <div class="bordered">
            <h2 style="padding: 0 16px;">עזרה</h2>

            <p>משתמשים יקרים,<br /><br />

                עשינו את המיטב כדי ליצור עבורכם את האפליקציה העדכנית והקלה ביותר לשימוש.
            </p>
            <p>חילקנו את האפליקציה בצורה הבאה:</p>
            <ul style="list-style-type: decimal; margin-right: 25px;">
                <li>סרגל תחתון - מעבר בין המקטעים השונים וצפיה בגרפים.</li>
                <li>סרגל עליון - סקירה לפי תאריך התוצרת, חיפוש לפי שם המוצר, ושינוי תצוגת הנתונים.</li>
                <li>לחיצה קצרה על התוצרת תוביל מיד לגרף המחירים של תוצרת זו.</li>
                <li>כדי לבחור מספר מוצרים ולצפות בגרפים שלהם זה לצד זה, יש ללחוץ על כל מוצר לחיצה ארוכה. הלחיצה הארוכה מוסיפה את התוצרת לסל המוצרים, ולאחר מכן ניתן לעבור לטאב הגרפים.</li>
                <li>השוואה גרפית בין המוצרים אפשרית הן לאורך זמן והן לפי המחיר היומי .   </li>
                </ul>
<p style="margin-top: 10px">                    אנו מאחלים לכם שימוש מהנה ופורה באפליקציה.</p>
        </div>
    </ion-content>
</ion-view>
