<ion-view>
    <ion-content scroll="true" padding="false" class="has-footer products">
        <div style="margin-top: 25px; float: left; width: 100%;"></div>
        <div ng-if="filterName.length" style="text-align: center; direction:rtl;margin-top: 14px;" on-tap="setNameFilter('')">
            רשימת מוצרים מכילה רק מוצרים ששמם מתחיל ב<strong>{{filterName}}</strong>.
            לביטול לחץ כאן
        </div>
        <div ng-if="fridayOrSaturday()" style="text-align: center; margin-top: 14px;">
            לא מתקיים מסחר בימים שישי ושבת
        </div>
        <ion-list class="list-container" ng-class="viewClassName">
            <div class="fruit-wrapper" ng-repeat="item in filteredItems = (items | filter:hideProductsWithoutPrice | filter:isSelected)">
                <div class="fruit-item">
                    <div ng-class="itemChecked(item)" on-tap="itemClicked(item)"></div>
                    <div class="image" on-hold="itemClicked(item)" on-tap="goToCharts(item)">
                        <img ng-src="http://62.219.7.38/items/{{item.PicNum}}.png" onerror="this.onerror='';this.src='img/logo.png'">
                    </div>
                    <h4 on-hold="itemClicked(item)" on-tap="goToCharts(item)">{{item.name}}</h4>
                    <div class="price">
                        <table>
                            <tr><td>מחיר סוג א'</td><td style="min-width: 40px">{{primeQualityPrice(item)}}</td></tr>
                            <tr><td>מחיר מובחר</td><td style="min-width: 40px">{{topQualityPrice(item)}}</td></tr>
                            <tbody ng-if="listDetails == 'avgPrice'">
                                <tr><td>מחיר ממוצע סוג א'</td><td style="min-width: 40px">{{primeQualityAvgPrice(item)}}</td></tr>
                                <tr><td>מחיר ממוצע מובחר</td><td style="min-width: 40px">{{topQualityAvgPrice(item)}}</td></tr>
                            </tbody>
                            <tbody ng-if="listDetails == 'percentChange'">
                                <tr><td>אחוז שינוי סוג א'</td><td style="min-width: 40px">{{primeQualityPercentChange(item)}}</td></tr>
                                <tr><td>אחוז שינוי מובחר</td><td style="min-width: 40px">{{topQualityPercentChange(item)}}</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="buttons">
                        <span class="push-percent" on-tap="showPushNotificationPopup(item)">{{item.percent}}<small ng-if="item.percent">%</small></span>
                        <img src="img/item-push.png" style="float:right;" on-tap="showPushNotificationPopup(item)">
                        <img src="img/item-share.png" style="float:left;" on-tap="shareProduct(item)">
                    </div>
                </div>
            </div>
            <div ng-show="!filteredItems.length && filterBySelected" style="text-align:center">לא נבחרו מוצרים</div>
            <div ng-show="!filteredItems.length && !filterBySelected" style="text-align:center">בקרוב יעודכנו נתונים</div>
        </ion-list>
        <ion-infinite-scroll class="ispinner"
                ng-if="moreDataCanBeLoaded()"
                on-infinite="loadMore()"
                distance="25%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
