<ion-view>
    <div class="tabs-top" ng-if="isItemActive('/main/products-wholesale')">
        <div class="tabs">
            <a href="javascript:void(0);" class="tab-item" on-tap="toggleFilterBySelected()" ng-class="classForFilterBySelected()"><img src="img/icon/basket.png"> סל מוצרים</a>
            <a href="javascript:void(0);" class="tab-item" on-tap="showDetailsPopup()"><img src="img/icon/details.png"> הוספת נתונים</a>
            <a href="javascript:void(0);" class="tab-item" on-tap="showFilterPopup()"><img src="img/icon/filter.png"> סינון ומיון</a>
        </div>
    </div>
    <ion-nav-view name="content"></ion-nav-view>
    <ion-tabs class="tabs-balanced tabs-icon-top" ng-show="isItemActive('/main/products-wholesale') || isItemActive('/main/chart')">
        <ion-tab title="מחיר סיטוני" icon-on="buyer" icon-off="buyer" on-select="setUserType('wholesale')"></ion-tab>
        <!--<ion-tab title="מחיר חקלאי" icon-on="farmer" icon-off="farmer" on-select="setUserType('agriculture')"></ion-tab>-->
        <ion-tab title="גרפים" icon-on="graph" icon-off="graph" ui-sref="withTabs.chart"></ion-tab>
    </ion-tabs>
</ion-view>
